/* 全体 */
body {
    margin: 0;
    background-color: #f5f5f8;
}
.all_container {
    margin: 0 5%;
}
.c_pointer {
    cursor: pointer;
}
input {
    background-color: rgb(248, 248, 248);
    border: none;
}
dd {
    margin: 0;
}
canvas {
    /* display: block; */
    width: 40%;
}

rect {
    /* こいつが悪いことしている */
}
/* ヘッダー */
.logo {
    height: 30px;
}
header {
    /* display: none; */

    top: 70px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    height: 64px;
    align-items: center;
    z-index: 5;
    margin: 0;
}
.header_container {
    margin: 0 5% 0 5%;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 15px;
}
.link {
    width: 140px;
    text-align: center;
    border-radius: 100vh;
    color: white;
    margin-left: auto;
    background: linear-gradient(rgb(187, 209, 255), rgb(46, 46, 170));
}
/* メイン */
.main {
    margin: 70px 0 0 0;
    display: flex;
    gap: 20px;
    height: auto;
}
.link_resp {
    height: 40px;
    width: 90%;
    text-align: center;
    border-radius: 100vh;
    color: white;
    margin: auto;
    background: linear-gradient(rgb(187, 209, 255), rgb(46, 46, 170));
    display: none;
}
.bottom_month {
    width: 100%;
    margin: auto;
    /* align-items: center; */
    text-align: center;
}
/* 棒グラフ */
.bar_graph {
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
/* 円グラフ */
.pie_container {
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.pie {
    border-radius: 10px;
    position: relative;
    width: 90%;
}
/* 左半分の記述 */
.main_first_container {
    width: 50%;
}
.hour {
    display: flex;
    gap: 20px;
}
.hour_box {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    /* flex: 1; */
    width: 35%;
}
.period {
    color: cornflowerblue;
}
.figure {
    font-size: 25px;
}
.unit {
    color: rgb(55, 82, 133);
}
.bar_graph {
    margin-top: 20px;
}
.times1 {
    width: 100%;
}
/* 右半分の記述 */
.main_second_container {
    width: 50%;
    display: flex;
    gap: 20px;
}
.times2 {
    width: 40%;
}
/* モーダル */
.modal {
    z-index: 8;
    background: #fff;
    color: #555;
    border-radius: 30px;
    position: absolute;
    top: 80px;
    left: 10%;
    right: 10%;
    margin: auto;
    line-height: 35px;
    display: none;
    position: fixed;
}
/* ばつの部分 */
.modal_close {
    line-height: 25px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    top: 15px;
    right: 30px;
    text-align: center;
    font-size: 30px;
}
/* モーダルの本文 */
.modal_top {
    display: flex;
    /* justify-content: space-around; */
    gap: 30px;
    margin: 20px 56px;
}
/* 左半分の記述 */
.modal_first_container {
    flex: 1;
    /* display: grid; */
    row-gap: 20px;
}
ul {
    list-style: none;
}
.modal_date {
    padding: 5px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
}
.modal_contents {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.modal_contents_option {
    padding: 0 7px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
}
.modal_language {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
    padding: 0;
}
.modal_language_option {
    padding: 0 7px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    height: 30px;
}
/* 右半分の記述 */
.modal_second_container {
    flex: 1;
    display: grid;
    row-gap: 20px;
}
.modal_time {
    padding: 5px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    height: 20px;
}
.modal_comment {
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    height: 30px;
}
.twitter_share {
    display: inline-flex;
    gap: 10px;
}
/* モーダルの下の部分 */
.modal_bottom {
    z-index: 100000;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 100vh;
    color: white;
    background: linear-gradient(rgb(187, 209, 255), rgb(46, 46, 170));
    margin: 20px auto;
}
/* モーダル表示時のモーダル以外の部分 */
.mask {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 6;
}
/* ロード画面 */
.loading {
    font-size: 40px;

    /* background-color: rgb(255, 255, 255); */
    position: absolute;
    display: none;
    /* text-align: center; */
    z-index: 1000000;
    /* margin:200px auto; */
    /* height: 300px; */
    /* width: 100%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* z-index: 8; */
    background: rgb(255, 255, 255);
    color: rgb(100, 152, 230);
    border-radius: 30px;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* height: 40px; */
    /* align-items: center; */
    /* vertical-align: center; */
    /* width: auto; */
    /* margin-top: 10px; */
    /* line-height: 35px; */
    /* display: none; */
    /* animation:3s linear infinite rotation1; */
}
.loading_stmt {
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
}
/* .loading_circle{
width: 100px;
height: 100px;
        } */
@keyframes rotation1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1080deg);
    }
}
